<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TripLight</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,900|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="help.css">

    <!-- For new browsers - multisize ico  -->
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="favicon.ico">

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon-152.png">

    <!-- Chrome for Android -->
    <link rel="manifest" href="manifest.json">
    <link rel="icon" sizes="192x192" href="favicon-192.png">

    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>


</head>

<body>

    <!--Begin Navbar-->
    <div id="main-body">
        <div class="container-fluid">
            <div class="row profile">
                <div class="col-md-2 col-xs-12">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            <img src="#" class="img-responsive" alt="">
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">UserName </div>

                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons">
                            <button type="button" class="btn btn-success btn-sm">Post Review</button>
                            <button type="button" class="btn btn-danger btn-sm">Review History</button>
                        </div>
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li class="active">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-home"></i>Overview </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-user"></i>Account Settings </a>
                                </li>

                                <li class="active">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-flag"></i> Help </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END MENU -->

                <div class="col-md-10 col-sm-12">
                    <div class="help-content">
                        <ul>
                            <h1>We're here to help!</h1>
                            <br>
                            <a href="http://www.therealdennis.com" target="_blank"><h3>Dennis Carrasquillo</h3></a>
                            <a href="http://www.chiangs.ninja" target="_blank"><h3>Stephen Chiang</h3></a>
                            <a href="http://35.165.49.7" target="_blank"><h3>Ehren Williamson</h3></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /container -->
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

<!-- Footer -->
<footer>
    <div class="footer">
        <div class="container-fluid ">
            <p>Coded and designed by <a style="color: #1e88cb" href="mailto:stephen.e.chiang@gmail.com">Dennis Carrasquillo, </a>&ensp;<a style="color: #1e88cb" href="mailto:stephen.e.chiang@gmail.com">Stephen Chiang, </a>&ensp;<a style="color: #1e88cb"
                    href="mailto:ewilliamson.com">Stephen Chiang, </a>&copy;&nbsp;2017</p>
        </div>
    </div>
</footer>

</html>
