body {
    background-image: url('help.jpg');
    background-size:cover;
}

.help-content {
    text-align: center;
    height: 100vh;
    width: 100%;
    color: #fff;
}

.help-content ul {
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.help-content ul a {
    color: #fff;
}
